.subtitle {
    display: flex;
    align-items: flex-start;
}

.sub_value {
    color: white;
    margin: 0 0 1rem 2rem;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}


.access_sub_value {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    /* padding: 22px; */
    margin-bottom: 1rem;
}